.main {
  margin: 0 auto;
  width: 1240px;
}

.section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ingredient__wrp {
  margin: 120px auto 0;
}

.ingredient__title {
  text-align: center;
}
