.ingredient {
  width: 48%;
  position: relative;
  box-sizing: border-box;
  min-height: 220px;
  cursor: pointer;
  text-decoration: none;
}

.image {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

.name {
  text-align: center;
  color: white;
}
