.main {
  width: 50%;
}

.wrp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: flex-end;
}

.top {
}

.center {
  max-height: 440px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom {
}

.center::-webkit-scrollbar {
  width: 12px;
}
.center::-webkit-scrollbar-track {
  background: #2f2f37;
}
.center::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}
