.wrp {
  display: block;
  text-decoration: none;
  background: #1c1c21;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}

.wrp p {
  color: #fff;
}
.date {
  color: #8585ad !important;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img__list {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  list-style-type: none;
}

.img__list_item {
  position: relative;
  background: #131316;
  border-radius: 100px;
  width: 64px;
  height: 64px;
  border: solid 2px #4c4cff;
  margin-right: -17px;
  box-sizing: border-box;
}

.img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  object-position: -30px 0;
}

.count__background {
  background: rgb(19, 19, 22);
  opacity: 0.6;
  border-radius: 100px;
  position: relative;
  width: 100%;
  height: 100%;
}
.count {
  position: absolute;
  left: 30%;
  top: 32%;
}

.wrp__img_sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sum {
  display: flex;
  align-items: center;
}
